<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css" type="text/css">
</head>
<body>
    <nav>
        
        <center>
            <img class=mainimg src="..\img\314871.png" alt="test">
        </center>
        
        
        <center>
            <img class= grayimg src="..\img\Rectangle 4.png" alt="background">
        </center>
         
        
        <img class=bar src="..\img\Rectangle 1.png" alt="bar">
         
        
        
            
        <img class=profile src="..\img\Group 5.png" alt="profile_pick">
            
        

        
        <h1 class= "name">Kjetil Indrehus</h1>
        <h1 class="year">Resume 2020</h1>
        

    </nav>

    <main>
        
        <li class=list>

        
        
            <a href="https://github.com/KjetilIN">
                <img class=github src="..\img\Group 1.png" alt="github_logo"> 
            </a>

        

        
            <a href="https://www.hackerrank.com/kjetilindrehus">
                <img class= hackerrank src="..\img\Group 2.png" alt="HackerRank">
            </a>
        

       
            <a href="..\documents\CV Kjetil Indrehus 2020 (1).docx">
                <img class= word src="..\img\Group 4.png" alt="Worddoc">
            </a>
        

        
            <a href="..\documents\CV Kjetil Indrehus 2020 (2).pdf">
                <img class=pdf src="..\img\Group 3.png" alt="pdf">
            </a>
        
        </li>


    </main>
    <footer>
        
        <img class="footer" src="..\img\Rectangle 10.png" alt="footer">
        
    </footer>


</body>
</html>